<div class="center jumbotron">

    <h1>Área de Microeletrônica e Eletrônica Embarcada - SENAI - CIMATEC</h1>
    <h2>
        Sistema de gerenciamento da AMEE
    </h2>
    <%= link_to "Cadastre-se", cadastre_path, class: "btn btn-lg btn-primary" %>

</div>
